* { 
    box-sizing: border-box;
    letter-spacing: 1.2px;
    margin: 0;
    padding: 0;
    font-family: 'Stardew', sans-serif;
    font-size: 20px;
    color: #56160c;
    text-shadow: 2px 2px 0.5px #e09650;
}

#iframeContainer {
    overflow: hidden;
    padding-top: 100vh;
    position: relative;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    left: 0;
    top: 0;
}