.sd-border {
    border: 12px solid transparent;
    padding: 8px;
    border-image: url(/img/sd-border.png) 16 12px;
    image-rendering: pixelated;
}

.sd-small-border {
    border: 12px solid transparent;
    padding: 15px;
    border-image: url(/img/sd-small-border.png) 12 12px;
    image-rendering: pixelated;
}

.note-border {
    border: 25px solid transparent;
    border-image: url(/img/note-border.png) 16 30px;
    image-rendering: pixelated;
}

.note-bg {
    line-height: 1.33rem;
    background-clip: padding-box;
    background-color: #ffe8bc;
    color: #79442d;
    text-shadow: 2px 2px 0.5px #ddaa68;
}

.sd-gradient {
    background-clip: padding-box;
    background-image: linear-gradient(#fdd182, #ecb16e);
}