@font-face {
    font-family: Stardew;
    src: url(/fonts/sdv.ttf) format('truetype');
}

@font-face {
    font-family: "Stardew Thin";
    src: url(/fonts/sdv-thin.ttf) format('truetype');
}

* { 
    box-sizing: border-box;
    letter-spacing: 1.2px;
    margin: 0;
    padding: 0;
    font-family: 'Stardew', sans-serif;
    font-size: 20px;
    color: #56160c;
    text-shadow: 2px 2px 0.5px #e09650;
}

body {
    position: relative;
}

#scene3-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    padding: 1rem;

    background-image: url(/BigImages/stardewPanorama.png);
    background-repeat: no-repeat;
    background-size: auto 120vh;
    image-rendering: pixelated;

    animation-name: slow-rise;
    animation-duration: 10s;
    animation-fill-mode: both; 
    animation-timing-function: linear; 
} 

#textbox {
    position: relative;
    z-index: 2;
}

#textContainer {
    position: relative;
    z-index: 2;
}

#cloud1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: -1rem;

    background-image: url(/BigImages/cloudLayer.png);
    background-repeat: no-repeat;
    background-size: auto 120vh;
    image-rendering: pixelated;

    animation: drift-left;
    animation-duration: 50s; 
    animation-fill-mode: both;
    animation-timing-function: linear;
}

#icon {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 5px;

    content: "";

    height: 18px;
    width: 18px;
    background-image: url(/sprites/dialog-close.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1200%;
    image-rendering: pixelated;

    animation: sprite .8s steps(11) infinite;
}

@keyframes sprite {
    from {background-position: left;}
    to {background-position: right;}
}

@keyframes drift-left {
    0% {background-position: -150% 120%;}
    20% {background-position: -50% 20%;}
    100% {background-position: 350% 20%;}
}

@keyframes slow-rise {
    from {background-position: 90% 100%;}
    to {background-position: 90% 0%;}
}