:root {
  --color__border: #eee;
  --color__button--background: #fff;
  --color__button--border: #4d4d4d;
  --color__button--text: #3d3d3d;
  --color__link--unvisited: white;
  --color__text--heading-dark: #303030;
  --color__text--heading-light: #f3f3f3;
  --color__text--content-dark: #555;
  --color__text--content-light: #fff;
  --font-family__hero--navbar: "Open Sans", sans-serif;
  --font-family__hero--main-heading: "Raleway", sans-serif;
  --font-family__hero--subheading: "Open Sans", sans-serif;
  --font-family__section-card--heading: "Raleway", sans-serif;
  --font-family__section-card--content: "Open Sans", sans-serif;
  --font-family__service-card--heading: "Raleway", sans-serif;
  --font-family__service-card--content: "Open Sans", sans-serif;
  --font-family__standalone--heading: "Raleway", sans-serif;
  --font-family__standalone--content: "Open Sans", sans-serif;
  --font-family__button: "Raleway", sans-serif;
  --font-family__footer--navbar: "Open Sans", sans-serif;
  --img__hero: url(../img/Halifax_Sunset_by_Vlad_Drobinin.jpg);
  --img__nav-btn: url(../img/baseline-menu-24px.svg);
  --img__about-me: url(../img/warty-final-ubuntu.png);
  --img__another-card: url(../img/Definitive_Light_Zen_Orange_by_Pierre_Cante.jpg);
  --img__foundation: url(../img/Raindrops_On_The_Table_by_Alex_Fazit.jpg);
  --img__comprehensive: url(../img/El_Haouaria_by_Nusi_Nusi.jpg);
  --img__portfolio: url(../img/Crocus_Wallpaper_by_Roy_Tanck.jpg);
  --img__something-else: url(../img/Spices_in_Athens_by_Makis_Chourdakis.jpg);
  --line-height__content: 1.7em;
  --margin__main-content: 1.5em;
}

/* Mixins */
/* is-a Card */
/* is-a Card */
/* Placeholders */
#services__something-else, #services__portfolio, #services__comprehensive, #services__foundation, #another-card, #about-me {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color__border);
  box-shadow: 0.1em 0.2em 0.3em 0.1em #ddd;
}

#contact__btn-phone, #contact__btn-email {
  background: var(--color__button--background);
  border-color: var(--color__button--border);
  color: var(--color__button--text);
  border-radius: 10px;
  border-style: solid;
  border-width: 1.5px;
  box-shadow: 0.1em 0.2em 0.3em 0.1em #ddd;
  font-family: var(--font-family__button);
  font-size: 1.5rem;
  --margin-horizontal: 1.5rem;
  --margin-vertical: 0.5rem;
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
  margin-top: var(--margin-vertical);
  margin-bottom: var(--margin-vertical);
  padding: 0.1em;
}

#services__something-else div, #services__portfolio div, #services__comprehensive div, #services__foundation div, #another-card h2, #about-me h2 {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 8rem;
  margin: 0px;
}

#contact {
  display: flex;
  flex-direction: column;
}
#contact h2 {
  margin-bottom: 0px;
  color: var(--color__text--heading-dark);
  text-align: center;
  font-family: var(--font-family__standalone--heading);
  font-size: 1.7rem;
}
#contact p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: var(--line-height__content);
  font-family: var(--font-family__standalone--content);
  color: var(--color__text--content-dark);
}

/* Main styles */
body {
  margin: 0px;
  background-color: #fff;
}

#hero {
  display: flex;
  height: 30em;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
}
#hero::after {
  content: " ";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--img__hero);
  background-size: cover;
  will-change: transform;
  z-index: -1;
  overflow: hidden;
}
#hero h1 {
  margin: 0rem;
  color: var(--color__text--heading-light);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.55);
  font-family: var(--font-family__hero--main-heading);
  font-weight: 900;
  font-size: 3rem;
  text-align: left;
  line-height: 3rem;
}
#hero p {
  margin-top: 0.5rem;
  color: var(--color__text--content-light);
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.55);
  font-family: var(--font-family__hero--subheading);
  text-align: left;
}

/* hero */
#hero__nav-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-family__hero--navbar);
}
#hero__nav-div a {
  color: var(--color__text--content-light);
  text-decoration: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
#hero__nav-div li {
  margin-left: 1rem;
  list-style-type: none;
}

#hero__nav-div--btn {
  height: 3rem;
  border-style: none;
  background: rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  order: 2;
}
#hero__nav-div--btn:focus {
  outline-style: solid;
  outline-color: #222;
}

#hero__nav-div--btn--icon {
  display: block;
  background-image: var(--img__nav-btn);
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(100%);
  height: 30px;
  width: 30px;
}

#hero__navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 0%;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 1rem;
  background: rgba(50, 50, 50, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 1s;
}

#main-content {
  background-color: #fff;
  padding-top: 2rem;
}

#about-me {
  margin: var(--margin__main-content);
}
#about-me h2 {
  background-image: var(--img__about-me);
  color: var(--color__text--heading-light);
  text-shadow: 0.1px 0.5px 2px black;
  font-family: var(--font-family__section-card--heading);
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 2rem;
}
#about-me p {
  color: var(--color__text--content-dark);
  font-family: var(--font-family__section-card--content);
  line-height: var(--line-height__content);
  margin: 1.5em;
}

#another-card {
  margin: var(--margin__main-content);
}
#another-card h2 {
  background-image: var(--img__another-card);
  color: var(--color__text--heading-light);
  text-shadow: 0.1px 0.5px 2px black;
  font-family: var(--font-family__section-card--heading);
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 2rem;
}
#another-card p {
  color: var(--color__text--content-dark);
  font-family: var(--font-family__section-card--content);
  line-height: var(--line-height__content);
  margin: 1.5em;
}

#services {
  margin: var(--margin__main-content);
}
#services h2 {
  color: var(--color__text--heading-dark);
  font-family: var(--font-family__standalone--heading);
  text-align: center;
}

#services__foundation {
  margin-bottom: 1.5em;
}
#services__foundation div {
  background-image: var(--img__foundation);
}
#services__foundation h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: var(--color__text--heading-dark);
  font-family: var(--font-family__service-card--heading);
  font-size: 1.5rem;
  text-align: center;
}
#services__foundation ul {
  padding: 0.7rem;
  margin: 0rem;
  list-style-position: inside;
  list-style-type: none;
  color: var(--color__text--content-dark);
  font-family: var(--font-family__service-card--content);
  line-height: var(--line-height__content);
}
#services__foundation li + li {
  margin-top: 1em;
}

#services__comprehensive {
  margin-bottom: 1.5em;
}
#services__comprehensive div {
  background-image: var(--img__comprehensive);
}
#services__comprehensive h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: var(--color__text--heading-dark);
  font-family: var(--font-family__service-card--heading);
  font-size: 1.5rem;
  text-align: center;
}
#services__comprehensive ul {
  padding: 0.7rem;
  margin: 0rem;
  list-style-position: inside;
  list-style-type: none;
  color: var(--color__text--content-dark);
  font-family: var(--font-family__service-card--content);
  line-height: var(--line-height__content);
}
#services__comprehensive li + li {
  margin-top: 1em;
}

#services__portfolio {
  margin-bottom: 1.5em;
}
#services__portfolio div {
  background-image: var(--img__portfolio);
}
#services__portfolio h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: var(--color__text--heading-dark);
  font-family: var(--font-family__service-card--heading);
  font-size: 1.5rem;
  text-align: center;
}
#services__portfolio ul {
  padding: 0.7rem;
  margin: 0rem;
  list-style-position: inside;
  list-style-type: none;
  color: var(--color__text--content-dark);
  font-family: var(--font-family__service-card--content);
  line-height: var(--line-height__content);
}
#services__portfolio li + li {
  margin-top: 1em;
}

#services__something-else {
  margin-bottom: 1.5em;
}
#services__something-else div {
  background-image: var(--img__something-else);
}
#services__something-else h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: var(--color__text--heading-dark);
  font-family: var(--font-family__service-card--heading);
  font-size: 1.5rem;
  text-align: center;
}
#services__something-else ul {
  padding: 0.7rem;
  margin: 0rem;
  list-style-position: inside;
  list-style-type: none;
  color: var(--color__text--content-dark);
  font-family: var(--font-family__service-card--content);
  line-height: var(--line-height__content);
}
#services__something-else li + li {
  margin-top: 1em;
}

#contact {
  padding-bottom: var(--margin__main-content);
  margin-left: var(--margin__main-content);
  margin-right: var(--margin__main-content);
}

#footer {
  background: #333;
  padding: 1.5rem 1rem 1.2rem;
}

#footer__navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--font-family__footer--navbar);
}
#footer__navbar a {
  color: #fff;
}
#footer__navbar a:link {
  text-decoration: none;
}
#footer__navbar li {
  list-style-type: none;
}
#footer__navbar li + li {
  margin-left: 1rem;
}

/*# sourceMappingURL=styles.css.map */
