:root {
	--color__main-background: #fafaff;

	--color__border: #eee;
	--color__button--background: #fafaff;
	--color__button--border: #4d4d4d;
	--color__button--text: #3d3d3d;

	--color__link--unvisited: white;
	--color__text--heading-dark: #303030;
	--color__text--heading-light: #f3f3f3;
	--color__text--content-dark: #555;
	--color__text--content-light: #fff;

	--font-family__hero--navbar: 'Open Sans', sans-serif;
	--font-family__hero--main-heading: 'Raleway', sans-serif;
	--font-family__hero--subheading: 'Open Sans', sans-serif;
	--font-family__section-card--heading: 'Raleway', sans-serif;
	--font-family__section-card--content: 'Open Sans', sans-serif;
	--font-family__service-card--heading: 'Raleway', sans-serif;
	--font-family__service-card--content: 'Open Sans', sans-serif;
	--font-family__standalone--heading: 'Raleway', sans-serif;
	--font-family__standalone--content: 'Open Sans', sans-serif;
	--font-family__button: 'Raleway', sans-serif;
	--font-family__footer--navbar: 'Open Sans', sans-serif;

	--img__hero: url(../img/Halifax_Sunset_by_Vlad_Drobinin.jpg); 
	--img__nav-btn: url(../img/baseline-menu-24px.svg);
	--img__about-me: url(../img/warty-final-ubuntu.png);
	--img__another-card: url(../img/Definitive_Light_Zen_Orange_by_Pierre_Cante.jpg);
	--img__foundation: url(../img/Raindrops_On_The_Table_by_Alex_Fazit.jpg);
	--img__comprehensive: url(../img/El_Haouaria_by_Nusi_Nusi.jpg);
	--img__portfolio: url(../img/Crocus_Wallpaper_by_Roy_Tanck.jpg);
	--img__something-else: url(../img/Spices_in_Athens_by_Makis_Chourdakis.jpg);
}

