@import 'root-variables';

:root {
	--line-height__content: 1.7em;

	--margin__main-content: 0.7em;
	--margin__card-sides: 0.7rem;

	--img__nav-btn: url(../img/baseline-menu-24px.svg);
	--img__hero: url(../img/small/Halifax_Sunset_by_Vlad_Drobinin.jpg); 
	--img__about-me: url(../img/small/warty-final-ubuntu.png);
	--img__another-card: url(../img/small/Definitive_Light_Zen_Orange_by_Pierre_Cante.jpg);
	--img__foundation: url(../img/small/Raindrops_On_The_Table_by_Alex_Fazit.jpg);
	--img__comprehensive: url(../img/small/El_Haouaria_by_Nusi_Nusi.jpg);
	--img__portfolio: url(../img/small/Crocus_Wallpaper_by_Roy_Tanck.jpg);
	--img__something-else: url(../img/small/Spices_in_Athens_by_Makis_Chourdakis.jpg);
}

/* Mixins */
/* is-a Card */
@import '_general-mixins.scss';

@mixin SectionCard($img) {
	@extend %Card;
	margin-bottom: 4rem;

	h2 {
		background-image: $img;
		color: var(--color__text--heading-light);
		text-shadow: 0.1px 0.5px 2px black;

		font-family: var(--font-family__section-card--heading);
		font-size: 2.5rem;
		text-transform: uppercase;

		display: flex;
		justify-content: center;
		text-align: center;
		align-items: flex-end;

		@include padding-sides(0.8rem);
		padding-bottom: 2rem;
		@extend %ImageContainer;
	}

	p {
		color: var(--color__text--content-dark);
		font-family: var(--font-family__section-card--content);
		line-height: var(--line-height__content);
		@include margin-caps(1rem);
		@include margin-sides(var(--margin__card-sides));
	}
}

/* is-a Card */
@mixin ServiceCard($img) {
	@extend %Card;

	margin-bottom: 2rem;
	div {
		background-image: $img;
		@extend %ImageContainer;
	}

	h3 {
		margin-top: 1rem;
		margin-bottom: 0rem;
		@include margin-sides(var(--margin__card-sides));

		//color: var(--color__text--heading-dark);
		color: #3a3a3a;
		font-family: var(--font-family__service-card--heading);
		font-size: 1.5rem;
		text-align: center;
	}

	ul {
		padding: 0rem;
		@include margin-caps(0.7rem);
		@include margin-sides(var(--margin__card-sides));

		list-style-position: inside;
		list-style-type: none;

		color: var(--color__text--content-dark);
		font-family: var(--font-family__service-card--content);
		line-height: var(--line-height__content);
	}

	li + li {
		margin-top: 1em;
	}
}



/* Placeholders */
%Card {
	border-style: solid;
	border-width: 1px;
	border-color: var(--color__border);
	box-shadow: 0.1em 0.2em 1rem 0.1em #ddd; 
	background-color: var(--color__main-background);
}

%Button {
	background: var(--color__button--background);
	border-color: var(--color__button--border);
	color: var(--color__button--text);

	border-radius: 10px;
	border-style: solid;
	border-width: 1.5px;
	box-shadow: 0.1em 0.2em 0.3em 0.1em #ddd; 

	font-family: var(--font-family__button);
	font-size: 1.5rem;

	@include margin-caps(0.5rem);
	padding: 0.1em;
}

%ImageContainer {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 8rem;
	margin: 0px;
}


%Standalone {
	display: flex;

	h2 {
		margin-bottom: 0px;

		color: var(--color__text--heading-dark);
		text-align: center;
		font-family: var(--font-family__standalone--heading);
		font-size: 2.2rem;
		text-shadow: 1px 1px 0.2px rgba(0,0,0,0.3);
	}

	p {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		line-height: var(--line-height__content);
		font-family: var(--font-family__standalone--content);
		color: var(--color__text--content-dark);
	}
}



/* Main styles */
body {
	margin: 0px;
}


#hero {
	display: flex;
	height: 400px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-end;
	@include padding-sides(1.5rem);
	padding-bottom: 2rem;
	overflow: hidden;
	position: relative;

	background: var(--img__hero);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #bbb;
	background-blend-mode: multiply;

	h1 {
		margin: 0rem;
		color: var(--color__text--heading-light);
		text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.55);

		font-family: var(--font-family__hero--main-heading);
		font-weight: 900;
		font-size: 3rem;
		text-align: left;
		line-height: 3rem; 
	}

	p {
		margin-top: 0.5rem;
		color: var(--color__text--content-light);
		text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.55);

		font-family: var(--font-family__hero--subheading);
		text-align: left;
	}
} /* hero */

	#hero__nav-div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;


		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;

		font-family: var(--font-family__hero--navbar);
		filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.2));
		a {
			color: var(--color__text--content-light);
			text-decoration: none;
			text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		}

		li {
			margin-left: 1rem;
			list-style-type: none;
		}

	}
		#hero__nav-div--btn {
			height: 3rem;

			border-style: none;

			background: rgba(50, 50, 50, 0.2);
			order: 2;

			&:focus {
				outline-style: none;
			}
		}
			#hero__nav-div--btn--icon {
				display: block;
				background-image: var(--img__nav-btn);
				background-repeat: no-repeat;
				background-size: cover;
				filter: invert(100%);
				height: 30px;
				width: 30px;
			}

		#hero__navbar {
			display: flex;
			flex-direction: row;
			overflow: hidden;
			width: 0%;
			flex-wrap: nowrap;
			justify-content: space-around;
			padding-top: 1rem;

			background: rgba(50, 50, 50, 0.2);
			//box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

			transition: all 0.55s;
		}


#main-content {
	background-color: var(--color__main-background);
	padding-top: 2rem;
}

#about-me {
	@include margin-sides(var(--margin__main-content));
	@include SectionCard(var(--img__about-me));
}


#another-card {
	@include margin-sides(var(--margin__main-content));
	@include SectionCard(var(--img__another-card));
}


#services {
	margin: var(--margin__main-content);

	h2 {
		color: var(--color__text--heading-dark);
		font-family: var(--font-family__standalone--heading);
		font-size: 2.5rem;
		text-align: center;
		text-shadow: 1px 1px 0.2px rgba(0,0,0,0.3);

		margin-top: 0rem;
		margin-bottom: 1rem;
	}
}


	#services__foundation {
		@include ServiceCard(var(--img__foundation));
	}

	#services__comprehensive {
		@include ServiceCard(var(--img__comprehensive));
	}

	#services__portfolio {
		@include ServiceCard(var(--img__portfolio));
	}

	#services__something-else {
		@include ServiceCard(var(--img__something-else));
	}



#contact {
	@extend %Standalone;

	@include margin-sides(var(--margin__main-content));
	flex-direction: column;
	@include padding-sides(1rem);
	padding-top: 2rem;
	padding-bottom: 3rem;
}
	#contact__btn-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
	}

	#contact__btn-email {
		@extend %Button;
	}

	#contact__btn-phone {
		@extend %Button;
	}



#footer {
	background: #333;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #535353;
	outline-offset: 3px;

	padding: 1.5rem 1rem 1.2rem;
}
	#footer__navbar {
		display: flex;
		flex-direction: row;
		justify-content: center;

		font-family: var(--font-family__footer--navbar);
		
		a {
			color: #fff;

			&:link {
				text-decoration: none;
			}
		}

		li {
			list-style-type: none;
		}

		li + li {
			margin-left: 1rem;
		}
	}
